node_modules
.env
temp
tools
package-lock.json
ACHANGES.md
bug report.md
intrucrction_guide.md
optimisation.md
whatsapp_context_bot_guide.md
ImageGenScrapes
changes
core_backup
go screaper
DEVELOPER_GUIDE.md
maintenance/
bot.log